.card {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0.25rem 0.25rem black;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card>img {
  border-radius: 1rem;
  background-color: #f8f8f8;
}